<div class="row">
  <div class="col-sm-12" style="text-align: center">
    <h5 class="container-header">Motor Controls</h5>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">Steering</div>
  <div class="col-sm-4">Command Listener</div>
</div>
<div class="row">
  <div class="col-sm-4" align="center" style="border-style:none;">
      <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
          <label>
              <input id="activate-rover-btn" type="checkbox">
              <span> </span>
          </label>
      </div>
  </div>
  <div class="col-sm-4" align="center" style="border-style:none;">
      <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
          <label>
              <input id="toggle-rover-listener-btn" type="checkbox">
              <span> </span>
          </label>
      </div>
  </div>
</div>
{% include 'AutomaticRoverControls.html' %}
{% include 'WheelControl.html' %}
