<div class="container wheel-controls">
    <div class="row">
      <h5>Individual Wheel Controls</h5>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="wheel-control">
          <h3>FL</h3>
          <div class="wheel-slider ui-slider ui-slider-horizontal" motor_id="3"></div>
          <input class="wheel-input" type="number" name="throttle" min="-100" max="100" value="0">
        </div>
      </div>
      <div class="col-md-6">
        <div class="wheel-control">
          <h3>FR</h3>
          <div class="wheel-slider ui-slider ui-slider-horizontal" motor_id="0"></div>
          <input class="wheel-input" type="number" name="throttle" min="-100" max="100" value="0">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="wheel-control">
          <h3>ML</h3>
          <div class="wheel-slider ui-slider ui-slider-horizontal" motor_id="4"></div>
          <input class="wheel-input" type="number" name="throttle" min="-100" max="100" value="0">
        </div>
      </div>
      <div class="col-md-6">
        <div class="wheel-control">
          <h3>MR</h3>
          <div class="wheel-slider ui-slider ui-slider-horizontal" motor_id="1"></div>
          <input class="wheel-input" type="number" name="throttle" min="-100" max="100" value="0">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="wheel-control">
          <h3>RL</h3>
          <div class="wheel-slider ui-slider ui-slider-horizontal" motor_id="5"></div>
          <input class="wheel-input" type="number" name="throttle" min="-100" max="100" value="0">
        </div>
      </div>
      <div class="col-md-6">
        <div class="wheel-control">
          <h3>RR</h3> 
          <div class="wheel-slider ui-slider ui-slider-horizontal" motor_id="2"></div>
          <input class="wheel-input" type="number" name="throttle" min="-100" max="100" value="0">
        </div>
      </div>
    </div>
</div>
